@import (reference) '../../styles/base.less';

.@{prefix-cls}-setting-modal-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 16px;
  margin-top: 16px;
  margin-bottom: 20px;
  align-items: center;
  font-size: 13px;
}
